//to watch and compile, run: 'stylus -w public/stylus/index.styl -o public/stylesheet.css'

// devices
notPhone = 'only screen and (min-width: 481px)'
verticalCenter()
  display flex
  flex-flow column
  align-items center
  justify-items center
