//to watch and compile, run: 'stylus -w public/stylus/index.styl -o public/stylesheet.css'
gray = #fafafa
purple = rgb(151, 56, 245)

body
  min-height 100%
  margin auto
main
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex
  flex-direction column
  justify-content center
  align-items center
  background radial-gradient(ellipse at center, gray 0%, gray 60%, rgba(0,0,0,.2) 100%)
#start, #end, #question
  display flex
  flex-direction column
  align-items center
.start-letter
  color purple
  z-index 0
  opacity 1
  font-size 2em
  letter-spacing .05em
  text-transform uppercase
  font-weight 550
  // animation slideIn 3s cubic-bezier(.5, -.3, .2, 1) both
  animation bounce-in-top 3s both
  // animation jello-horizontal 0.9s both
  animation-delay calc(var(--delay) * .1s)
  display inline-block

@keyframes slideIn {
   from {
    transform: translateY(-500%) scale(0.5)
  }
  to {
    transform: translateY(-30%) scale(1)
    text-shadow red 2px 2px 1px
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px red, 2px 2px red
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}



//header and footer
header, footer
  position absolute
  width 100%
  z-index 1
  display flex
header
  top 0
  justify-content center
nav
  padding 5%
footer
  bottom 0
small
  font-size 1em
  width 50%
  padding 5%
#footer-text1
  text-align left
#footer-text2
  text-align right
