//to watch and compile, run: 'stylus -w public/stylus/index.styl -o public/stylesheet.css'
@import 'public/stylus/variables'

body
  min-height 100%
  margin auto
main
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex
  flex-direction column
  justify-content center
  align-items center
  background radial-gradient(ellipse at center, gray 0%, gray 60%, rgba(0,0,0,.2) 100%)
button
  padding 0.3em
  margin .5em 1.5em 0 1.5em
  border 1px solid purple
  border-radius 0.3em
  font-size 1em
  color darkPurple
  text-align center
  font-weight 1000
  z-index 1
button:active
  color white
  background-color: purple
p
  color darkPurple
  font-size 22px
  font-weight bold
  font-family 'Gaegu'
  margin-left 5%
  margin-right 5%
#start, #end, #question
  display flex
  flex-direction column
  align-items center
  justify-content center
  text-align center
#question-text
  font-size 25px
#question-buttons
  height 30px
#emoji
  font-size 50px
  margin 0

//start page
.start-letter
  color purple
  font-size 2.5em
  letter-spacing .05em
  font-weight 1000
  animation start 1s both
  animation-delay calc(var(--delay) * .05s)
  display inline-block
  font-family 'Bungee Shade'
#start-title
  display flex
  flex-direction column
  align-items center
#start-text
  animation slideIn 1s both
  animation-delay 1s
  visibility hidden

//end page
.end-letter
  color purple
  font-size 1.4em
  font-weight 1000
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
  animation end 2s both
  animation-delay calc(var(--delay) * .01s)
  display inline-block
  font-family 'Bungee Shade'
#end-title
  position absolute
  display flex
  flex-direction column
  align-items center
#end-text
  width 100%
#end-heading
  margin 10% 10% 5% 10%
  font-weight bold
  font-size 22px

//header and footer
header, footer
  position absolute
  width 100%
  display flex
  box-sizing border-box
header
  top 0
  justify-content center
  padding 20px
  color purple
  font-size 1em
  opacity 0
  text-shadow 1px 1px green, 2px 2px green
  animation fadeIn 1s both
  font-family 'Bungee Shade'
footer
  bottom 0
  font-family 'Gaegu'
small
  font-size 1.2em
  width 50%
  padding 20px
#footer-text1
  text-align left
#footer-text2
  text-align right

@media notPhone
  button:hover
    transition  all 0.2s
    color white
    background-color: purple
  body, footer
    max-width 980px
    margin auto
  #start-text
    margin-right 150px
    margin-left 150px
  .end-letter
    font-size 3em
  #end-title
    margin-top 30px
