@-moz-keyframes header {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes header {
  to {
    opacity: 1;
  }
}
@-o-keyframes header {
  to {
    opacity: 1;
  }
}
@keyframes header {
  to {
    opacity: 1;
  }
}
@-moz-keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@-webkit-keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@-o-keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@-moz-keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
@-webkit-keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
@-o-keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
@keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
body {
  min-height: 100%;
  margin: auto;
}
main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center, #fafafa 0%, #fafafa 60%, rgba(0,0,0,0.2) 100%);
}
button {
  padding: 0.3em;
  margin: 0.5em 1.5em 0 1.5em;
  border: 1px solid #9738f5;
  border-radius: 0.3em;
  font-size: 1em;
  color: #7a678d;
  text-align: center;
  font-weight: 1000;
}
button:active {
  color: #fff;
  background-color: #9738f5;
}
p {
  color: #7a678d;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Indie Flower';
}
#start,
#end,
#question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-letter {
  color: #9738f5;
  z-index: 0;
  font-size: 2em;
  letter-spacing: 0.05em;
  font-weight: 1000;
  animation: start 1s both;
  animation-delay: calc(var(--delay) * 0.1s);
  display: inline-block;
  font-family: 'Bungee Shade';
}
#start-text {
  margin: 10% 10% 5% 10%;
}
.end-letter {
  color: #9738f5;
  z-index: 0;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 1000;
  text-shadow: -1px 0 #aceccc, 0 1px #aceccc, 1px 0 #aceccc, 0 -1px #aceccc;
  animation: end 1s both;
  animation-delay: calc(var(--delay) * 0.01s);
  display: inline-block;
  font-family: 'Bungee Shade';
}
#end-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
footer {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
}
header {
  top: 0;
  justify-content: center;
  padding: 5%;
  color: #9738f5;
  z-index: 0;
  font-size: 1em;
  opacity: 0;
  text-shadow: 1px 1px #aceccc, 2px 2px #aceccc;
  animation: header 1s both;
  font-family: 'Bungee Shade';
}
footer {
  bottom: 0;
  font-family: 'Indie Flower';
}
small {
  font-size: 1em;
  width: 50%;
  padding: 5%;
}
#footer-text1 {
  text-align: left;
}
#footer-text2 {
  text-align: right;
}
@media only screen and (min-width: 480px) {
  button:hover {
    transition: all 0.2s;
    color: #fff;
    background-color: #9738f5;
  }
}
