@-moz-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@-webkit-keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@-o-keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes end {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.5) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.5) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.5) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@-moz-keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
@-webkit-keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
@-o-keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
@keyframes start {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38%, 90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    text-shadow: 1px 1px #aceccc, 5px 2px #aceccc;
  }
}
body {
  min-height: 100%;
  margin: auto;
}
main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at center, #fafafa 0%, #fafafa 60%, rgba(0,0,0,0.2) 100%);
}
button {
  padding: 0.3em;
  margin: 0.5em 1.5em 0 1.5em;
  border: 1px solid #9738f5;
  border-radius: 0.3em;
  font-size: 1em;
  color: #7a678d;
  text-align: center;
  font-weight: 1000;
  z-index: 1;
}
button:active {
  color: #fff;
  background-color: #9738f5;
}
p {
  color: #7a678d;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Gaegu';
  margin-left: 5%;
  margin-right: 5%;
}
#start,
#end,
#question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#question-text {
  font-size: 25px;
}
#question-buttons {
  height: 30px;
}
#emoji {
  font-size: 50px;
  margin: 0;
}
.start-letter {
  color: #9738f5;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  font-weight: 1000;
  animation: start 1s both;
  animation-delay: calc(var(--delay) * 0.05s);
  display: inline-block;
  font-family: 'Bungee Shade';
}
#start-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#start-text {
  animation: slideIn 1s both;
  animation-delay: 1s;
  visibility: hidden;
}
.end-letter {
  color: #9738f5;
  font-size: 1.4em;
  font-weight: 1000;
  text-shadow: -1px 0 #aceccc, 0 1px #aceccc, 1px 0 #aceccc, 0 -1px #aceccc;
  animation: end 2s both;
  animation-delay: calc(var(--delay) * 0.01s);
  display: inline-block;
  font-family: 'Bungee Shade';
}
#end-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#end-text {
  width: 100%;
}
#end-heading {
  margin: 10% 10% 5% 10%;
  font-weight: bold;
  font-size: 22px;
}
header,
footer {
  position: absolute;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
header {
  top: 0;
  justify-content: center;
  padding: 20px;
  color: #9738f5;
  font-size: 1em;
  opacity: 0;
  text-shadow: 1px 1px #aceccc, 2px 2px #aceccc;
  animation: fadeIn 1s both;
  font-family: 'Bungee Shade';
}
footer {
  bottom: 0;
  font-family: 'Gaegu';
}
small {
  font-size: 1.2em;
  width: 50%;
  padding: 20px;
}
#footer-text1 {
  text-align: left;
}
#footer-text2 {
  text-align: right;
}
@media only screen and (min-width: 480px) {
  button:hover {
    transition: all 0.2s;
    color: #fff;
    background-color: #9738f5;
  }
  body,
  footer {
    max-width: 980px;
    margin: auto;
  }
  #start-text {
    margin-right: 150px;
    margin-left: 150px;
  }
  .end-letter {
    font-size: 3em;
  }
  #end-title {
    margin-top: 30px;
  }
}
